html,body{ width: 100%; 
        height:
        margin:0;
        padding: 0; 
        font-size 62.5%;
        background-color: lightblue; 
}

header{width: 100%;
}

li { display: inline-block;
                width: calc(100%/7);
                height: 15%;
                background-color:#edeeef;
                margin:; 
                color:white;
}

nav{ margin-left:15%;
          
}
#toptaps{
        display:inline-block; 
}